{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="page-banner">
        <div class="bg-overlay" style="background-image: url('imgs/membership-bg.jpg');">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="banner-title">Cart</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">
                                    <i class="icon-home icons"></i>Home</a></li>
                            <li class="breadcrumb-item text-white" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="page-title text-center">
        <div class="section-title-box">
            <span class="section-sub-title">GOALS</span>
            <h2 class="section-title">FIND THE CLASS THAT SUITS YOU</h2>
            <p class="section-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                the readable content of a page when looking at its layout.
            </p>
        </div>
    </section>

    <section class="cart">
        <div class="container small-container">
            <div class="row">
                <div class="col-md-12">
                    {% if messages %}
                    <ul class="alert alert-success list-unstyled" role="alert">
                        {% for message in messages %}
                        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="responsive-table">
                        <table class="cart-table">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2" data-label="Product">Product</th>
                                    <th scope="col" data-label="Price">Price</th>
                                    <th scope="col" data-label="Quantity">Quantity</th>
                                    <th scope="col" data-label="Total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if cart_items %}
                                    {% for item in cart_items %}
                                        <tr>
                                            <td colspan="2" data-th="Product" data-label="Product">
                                                <div class="signle-item-row">
                                                    <a class="delete-item" data-item-id = "{{ item.item_id }}">✕</a>
                                                    <div class="single-item">
                                                        <a href="#.">{{ item.gym_class.name }}</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td data-th="Price" data-label="Price">€{{ item.gym_class.price }}</td>
                                            <td data-th="Quantity" data-label="Quantity">
                                                <form class="update-qty" method="POST" action="{% url 'update_cart' item.item_id %}">
                                                    {% csrf_token %}
                                                    <input type="text" id="quantity" name="quantity" value="{{ item.quantity }}">
                                                    <a href="#" class="inc qty-btn"><i class="icon-arrow-up icons"></i></a><a
                                                        href="#" class="dec qty-btn"><i class="icon-arrow-down icons"></i></a>
                                                </form>
                                                <a class="cart-update" href="">Update</a>
                                            </td>
                                            <td data-th="Total" data-label="Total"><b>€{{ item.item_total }}</b></td>
                                        </tr>                                
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">
                                            <p class="lead mb-5">Your cart is empty.</p>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <div class="button-group">
                                <a href="{% url 'timetable' %}" class="btn btn-secondary">Add another class</a>
                                <a href="checkout-billing.html" class="btn btn-primary {% if not cart_items %}disabled{% endif %}">Checkout</a>
                            </div>
                        </div>
                    </div>
                    <div class="cart-total">
                        <h4>CartTotals</h4>
                        <ul>
                            <li>
                                <span class="label">Sub Total:</span>
                                <span class="price">€{{ total }}</span>
                            </li>
                            <li>
                                <span class="label">Total:</span>
                                <span class="price">€{{ total }}</span>
                            </li>
                        </ul>
                        <a id="checkout-btn" href="checkout-billing.html" class="btn btn-primary {% if not cart_items %}disabled{% endif %}" {% if not cart_items %}disabled{% endif %}>Proceed To
                            Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="membership-call">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>If You Are Interested<br>
                        We Help You Stay Healty</h3>
                </div>
                <div class="col-md-6 text-end">
                    <a href="contact-us.html" class="icon-btn"><i class="fas fa-arrow-circle-right"></i> See
                        Membership</a>
                </div>
            </div>
        </div>
    </section>

    <section class="newsletter">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <h4 class="sub-title">Get info</h4>
                    <p>Received Special Promotion And Insider Information
                        About Upcoming Products</p>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter your Email!" id="newsletter" name="newsletter"
                            type="email">
                        <input class="form-control btn btn-primary" value="Subscribe" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block postloadjs %}

<script type="text/javascript">
    // Product Qty
    var proQty = $(".update-qty");
    proQty.append('<a href="#" class="inc qty-btn"><i class="icon-arrow-up icons"></i></a>');
    proQty.append('<a href="#" class="dec qty-btn"><i class="icon-arrow-down icons"></i></a>');
    
    $('.qty-btn').on('click', function(e) {
        e.preventDefault();
        var $button = $(this);
        var oldValue = $button.parent().find('#quantity').val();
        if ($button.hasClass('inc')) {
            var newVal = parseFloat(oldValue) + 1;
        } else {
            // Don't allow decrementing below zero
            if (oldValue > 1) {
            var newVal = parseFloat(oldValue) - 1;
            } else {
            newVal = 1;
            }
        }
        $button.parent().find('#quantity').val(newVal);
    });


    // Update quantity on click
    $('.cart-update').click(function(e) {
        e.preventDefault();
        var form = $(this).prev('.update-qty');
        form.submit();
    })

    // Remove item and reload on click
    $('.delete-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).data('itemId');
        var url = `/cart/delete/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}