{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="hero container-fluid col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">START YOUR FITNESS JOURNEY TODAY</h1>
                <p class="lead">Wether your goal is cardio fitness, strenght or a healthy weight. We are the premier gym to reach your goals. First class facilities, first class trainers and first class programes</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="{% url 'gym_classes' %}" class="btn btn-primary btn-lg px-4 me-md-2">Membership</a>
                    <a href="{% url 'timetable' %}" class="btn btn-outline-secondary btn-lg px-4">Class Timetable</a>
                </div>
            </div>
        </div>
    </section>

    <section class="inspirational text-center bg-gradient">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xl-8">
                    <div class="h2 fs-1 text-white mb-4">Each new day is a new opportunity to improve yourself.<br><span class="text-primary">Take it.</span><br>And make the most of it.</div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                <div class="col-12 col-lg-5">
                    <h2 class="display-4 lh-1 mb-4">WE RAISE YOUR CONFIDENCE</h2>
                    <p class="lead fw-normal text-muted mb-5 mb-lg-0">This section is perfect for featuring some information about your application, why it was built, the problem it solves, or anything else! There's plenty of space for text here, so don't worry about writing too much.</p>
                </div>
                <div class="col-sm-8 col-md-6">
                    <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="{% static 'imgs/intro-pic.png' %}" alt="..."></div>
                </div>
            </div>
        </div>
    </section>

    <section class="features">
        <div class="container">
            <div class="rox">
                <div class="col-12 text-center section-title-box">
                    <span class="section-sub-title">GOALS</span>
                    <h2 class="section-title">SET HIGH FITNESS GYM GOALS</h2>
                    <p class="section-info">It is a long established fact that a reader will be distracted by
                        the readable content of a page when looking at its layout.
                     </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6 ">
                   <div class="icon-box-section text-center">
                      <div class="icon-box-icon">
                         <i aria-hidden="true" class="flaticon-lunges"></i>
                      </div>
                      <div class="icon-box-content">
                         <h5 class="icon-box-title">
                            MODERN EQUIPMENT
                         </h5>
                         <p class="icon-box-description">Lorem ipsum Ut elit tellus, luctus nec pulvinar dapibus leo.</p>
                      </div>
                   </div>
                </div>
                <div class="col-xl-3 col-md-6 ">
                   <div class="icon-box-section text-center">
                      <div class="icon-box-icon">
                         <i aria-hidden="true" class="flaticon-dumbbell-1"></i>
                      </div>
                      <div class="icon-box-content">
                         <h5 class="pt-icon-box-title">
                            TRAINING PLAN
                         </h5>
                         <p class="icon-box-description">Lorem ipsum Ut elit tellus, luctus nec pulvinar dapibus leo.</p>
                      </div>
                   </div>
                </div>
                <div class="col-xl-3 col-md-6 ">
                   <div class="icon-box-section text-center">
                      <div class="icon-box-icon">
                         <i aria-hidden="true" class="flaticon-cardio"></i>
                      </div>
                      <div class="icon-box-content">
                         <h5 class="icon-box-title">
                            HEALTHY DIET
                         </h5>
                         <p class="icon-box-description">Lorem ipsum Ut elit tellus, luctus nec pulvinar dapibus leo.</p>
                      </div>
                   </div>
                </div>
                <div class="col-xl-3 col-md-6 ">
                   <div class="icon-box-section text-center">
                      <div class="icon-box-icon">
                         <i aria-hidden="true" class="flaticon-woman"></i>
                      </div>
                      <div class="icon-box-content">
                         <h5 class="icon-box-title">
                            SUCCESS GUARANTED
                         </h5>
                         <p class="icon-box-description">Lorem ipsum Ut elit tellus, luctus nec pulvinar dapibus leo.</p>
                      </div>
                   </div>
                </div>
             </div>                
        </div>
    </section>

    <section class="contact-call">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-white">CONTACT US TODAY</h2>
                    <p class="pt-section-description text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. the readable content of a page when looking at its layout.
                    </p>
                </div>
                <div class="col-md-6 text-end">
                    <a href="contact-us.html" class="icon-btn"><i class="fas fa-arrow-circle-right"></i> See
                        Membership</a>
                </div>
            </div>
        </div>
    </section>
            
</main>
{% endblock %}