{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="page-banner">
        <div class="bg-overlay" style="background-image: url('{% static "imgs/membership-bg.jpg" %}');">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="banner-title">Membership</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">
                                    <i class="icon-home icons"></i> Home</a></li>
                            <li class="breadcrumb-item text-white" aria-current="page">Membership</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="page-title text-center">
        <div class="section-title-box">
            <span class="section-sub-title">Membership</span>
            <h2 class="section-title">Best Pricing Options</h2>
            <p class="section-info">No matter your goals or fitness we have a membership package to meet your goals and fitness
            </p>
        </div>
    </section>

    <section class="membership-options">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Fitness/Strenght</h4>
                                </div>
                                <div class="card-body">
                                    <div class="pt-service-media"><i class="flaticon-workout-machine"></i></div>
                                    <h1 class="card-title pricing-card-title">€10<small
                                            class="text-muted fw-light">/mo</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Access To cardio</li>
                                        <li>Access To wieghts</li>
                                        <li>Cardio</li>
                                        <li>Free advice and support</li>
                                    </ul>
                                    <a  href="{% url 'contact_us' %}" class="w-100 btn btn-lg btn-outline-primary">Book Today</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Personal Plan</h4>
                                </div>
                                <div class="card-body">
                                    <div class="pt-service-media"><i class="flaticon-dumbbell-1"></i></div>
                                    <h1 class="card-title pricing-card-title">€15<small
                                            class="text-muted fw-light">/mo</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Personalised Plan</li>
                                        <li>Full access</li>
                                        <li>Studio access</li>
                                        <li>Free advice and support</li>
                                    </ul>
                                    <a  href="{% url 'contact_us' %}" class="w-100 btn btn-lg btn-outline-primary">Book Today</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                                <div class="card-header py-3 text-white bg-primary border-primary">
                                    <h4 class="my-0 fw-normal">Elite</h4>
                                </div>
                                <div class="card-body">
                                    <div class="pt-service-media"><i class="flaticon-yoga"></i></div>
                                    <h1 class="card-title pricing-card-title">€29<small
                                            class="text-muted fw-light">/mo</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Free access to classes</li>
                                        <li>Studio access</li>
                                        <li>Personalised Plan</li>
                                        <li>Free advice and support</li>
                                    </ul>
                                    <a  href="{% url 'contact_us' %}" class="w-100 btn btn-lg btn-outline-primary">Book Today</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="newsletter">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <h4 class="sub-title">Get info</h4>
                    <p>Received Special Promotion And Insider Information
                        About Upcoming Products</p>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter your Email!" id="newsletter" name="newsletter"
                            type="email">
                        <input class="form-control btn btn-primary" value="Subscribe" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}