{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="page-banner">
        <div class="bg-overlay" style="background-image: url('{% static "imgs/membership-bg.jpg" %}');">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="banner-title">Checkout</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">
                                    <i class="icon-home icons"></i>Home</a></li>
                            <li class="breadcrumb-item text-white" aria-current="page">Checkout</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="page-title text-center">
        <div class="section-title-box">
            <span class="section-sub-title">CHECKOUT</span>
            <h2 class="section-title">COMPLETE YOUR BOOKING</h2>
            <p class="section-info">To complete your class booking just fill in your personal details.</p>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
            
            {% include 'includes/messages.html' %}

            <form action="{% url 'checkout' %}" method="POST" id="payment-form" class="checkout-form row g-4">
                {% csrf_token %}
                <h3>Billing Details</h3>

                <div class="col-md-6">
                    {{ order_form.full_name | as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ order_form.email | as_crispy_field }}
                </div>

                <h3>Shipping Address</h3>

                <div class="col-12">
                    {{ order_form.street_address1 | as_crispy_field }}
                </div>
                <div class="col-12">
                    {{ order_form.street_address2 | as_crispy_field }}
                </div>

                <div class="col-md-6">
                    {{ order_form.town_or_city | as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ order_form.county | as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ order_form.postcode | as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ order_form.phone_number | as_crispy_field }}
                </div>
                <div class="col-12">
                    <div class="form-check form-check-inline float-right">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this delivery information to my
                            profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </div>

                <h3>Payment</h3>
                <!-- A Stripe card element will go here -->
                <div class="mb-3" id="card-element"></div>
                <!-- Used to display form errors -->
                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                <!-- Pass the client secret to the view so we can get the payment intent id -->
                <input type="hidden" value="{{ client_secret }}" name="client_secret">

                <div class="col-6">
                    <a href="{% url 'view_cart' %}" class="backcart"><i class="icon-arrow-left icons"></i> Back To
                        Cart</a>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <button id="submit-button" type="submit" class="btn btn-primary">Next Step</button>
                </div>

            </form>

        </div>

    </section>

    <section class="membership-call">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>If You Are Interested<br>
                        We Help You Stay Healty</h3>
                </div>
                <div class="col-md-6 text-end">
                    <a href="{% url 'membership' %}" class="icon-btn"><i class="fas fa-arrow-circle-right"></i> See
                        Membership</a>
                </div>
            </div>
        </div>
    </section>

    <section class="newsletter">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <h4 class="sub-title">Get info</h4>
                    <p>Received Special Promotion And Insider Information
                        About Upcoming Products</p>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter your Email!" id="newsletter" name="newsletter"
                            type="email">
                        <input class="form-control btn btn-primary" value="Subscribe" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="processing-overlay">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}