{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="page-banner">
        <div class="bg-overlay" style="background-image: url('imgs/membership-bg.jpg');">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="banner-title">About Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">
                                    <i class="icon-home icons"></i>Home</a></li>
                            <li class="breadcrumb-item text-white" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="page-title text-center">
        <div class="section-title-box">
            <span class="section-sub-title">GOALS</span>
            <h2 class="section-title">FIND THE CLASS THAT SUITS YOU</h2>
            <p class="section-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                the readable content of a page when looking at its layout.
            </p>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="customer-options">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="well">
                                    <p>Have a coupon?&nbsp;<a href="#."> Click here to enter your code </a></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="well">
                                    <p>Returning customer?&nbsp;<a href="#."> Click here to login </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form class="checkout-form row g-4">
                <h3>Billing Details</h3>

                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control" placeholder="Email">
                </div>

                <h3>Shipping Address</h3>

                <div class="col-md-6">
                    <input type="text" class="form-control mb-0" placeholder="First name">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control mb-0" placeholder="Last name">
                </div>

                <div class="col-12">
                    <input type="text" class="form-control" id="inputAddress" placeholder="Address 01">
                </div>
                <div class="col-12">
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Address 01">
                </div>

                <div class="col-md-6">
                    <select id="inputState" class="form-control">
                        <option selected="">Country</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select id="inputState" class="form-control">
                        <option selected="">County</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="inputZip" placeholder="Zip">
                </div>

               
                    <div class="col-6">
                        <a href="shop.html" class="backcart"><i class="fas fa-chevron-left"></i> Back To
                            Cart</a>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Next Step</button>
                    </div>
                
            </form>

        </div>

    </section>

    <section class="membership-call">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>If You Are Interested<br>
                        We Help You Stay Healty</h3>
                </div>
                <div class="col-md-6 text-end">
                    <a href="contact-us.html" class="icon-btn"><i class="fas fa-arrow-circle-right"></i> See
                        Membership</a>
                </div>
            </div>
        </div>
    </section>

    <section class="newsletter">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <h4 class="sub-title">Get info</h4>
                    <p>Received Special Promotion And Insider Information
                        About Upcoming Products</p>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter your Email!" id="newsletter"
                            name="newsletter" type="email">
                        <input class="form-control btn btn-primary" value="Subscribe" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block postloadjs %}

<script type="text/javascript">

</script>
{% endblock %}