{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="page-banner">
        <div class="bg-overlay" style="background-image: url('{% static "imgs/slide2.jpg" %}');">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="banner-title">Class Name</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">
                                    <i class="icon-home icons"></i>Home</a></li>
                            <li class="breadcrumb-item text-white" aria-current="page">Class</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="page-title text-center">
        <div class="section-title-box">
            <span class="section-sub-title">Class</span>
            <h2 class="section-title">{{ gym_class.name }}</h2>
            <p class="section-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                the readable content of a page when looking at its layout.
            </p>
        </div>
    </section>

    <section class="class-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="content">
                        <h2 class="title">Class Information</h2>
                        <p>Gym is very important to maintain our health luptas sit fugit, sed quia cuuntur magni
                            dolores eos qui rat ione volupta pleasure rationally encounter consequences that are
                            extremely pleasure rationally encounter that are extremely painful. Nor again is there
                            anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but
                            because occasionally circumstances occur in which some great pleasure </p>
                        <p>Gym is very important to maintain our health luptas sit fugit, sed quia cuuntur magni
                            dolores eos qui rat ione volupta pleasure rationally encounter consequences that are
                            extremely pleasure rationally encounter</p>

                    </div>
                    <div class="class-schedule mb-5">
                        <h2 class="title">Class schedule</h2>
                        <p>Gym is very important to maintain our health luptas sit fugit, sed quia cuuntur magni
                            dolores eos qui rat ione volupta pleasure rationally encounter consequences that are
                            extremely pleasure rationally encounter</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="day">Day</th>
                                    <th class="time">Time</th>
                                    <th class="tnstructor">Instructor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sunday</td>
                                    <td class="time">9.00 am to 10.30 am</td>
                                    <td>Nikolus Smith</td>
                                </tr>
                                <tr>
                                    <td>Monday</td>
                                    <td class="time">9.00 am to 10.30 am</td>
                                    <td>Nikolus Smith</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td class="time">3.00 pm to 4.30 pm</td>
                                    <td>Robert Cristopher</td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td class="time">3.00 pm to 4.30 pm</td>
                                    <td>Robert Cristopher</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="class-instructors mb-5">
                        <h2 class="title">Class Instructors</h2>
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                                <div class="card">
                                    <img src="imgs/pic1.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Beth Robin</h5>
                                        <p class="card-text">High Intensity Training</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="imgs/pic2.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">John Hopkins</h5>
                                        <p class="card-text">Strenght Training</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="class-instructions">
                        <h2 class="title">What to bring with you</h2>
                        <p>Gym is very important to maintain our health luptas sit fugit, sed quia cuuntur magni
                            dolores eos qui rat ione volupta pleasure rationally encounter consequences that are
                            extremely pleasure rationally encounter</p>
                        <ul>
                            <li>Resuable water bottle</li>
                            <li>Comfortable workout clothes</li>
                            <li>Shower Essentials</li>
                            <li>Compact microfiber towel</li>
                            <li>Clean &amp; Comfortable shoes</li>
                            <li>Headphone</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-lg-4">
                    <div class="class-details">
                        <div class="class-detail-right">
                            <div class="class-schedule-block">
                                <h3 class="block-title m-b20">Class Details</h3>
                                <ul class="info-list">
                                    <li>
                                        <h5 class="title">Category</h5><span>{{ gym_class.category }}</span>
                                    </li>
                                    <li>
                                        <h5 class="title">level</h5><span>Intense</span>
                                    </li>
                                    <li>
                                        <h5 class="title">Duration</h5><span>50 mins</span>
                                    </li>
                                    <li>
                                        <h5 class="title">Period</h5><span>75days</span>
                                    </li>
                                    <li>
                                        <h5 class="title">Students</h5><span> 25</span>
                                    </li>
                                    <li>
                                        <h5 class="title">Shift</h5><span>Morning/Night</span>
                                    </li>
                                    <li>
                                        <h5 class="title">Amount</h5><span>$350.50</span>
                                    </li>
                                </ul>
                                <a href="contact.html" class="btn btn-secondary">Book Now</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <form class="form" action="{% url 'add_to_cart' gym_class.id %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-12">
                <p class="mt-3"><strong>Quantity:</strong></p>
                <div class="form-group w-50">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="decrement-qty btn btn-black rounded-0" 
                                data-item_id="{{ gym_class.id }}" id="decrement-qty_{{ gym_class.id }}">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div>
                        <input class="form-control qty_input" type="number"
                            name="quantity" value="1" min="1" max="99"
                            data-item_id="{{ gym_class.id }}"
                            id="id_qty_{{ gym_class.id }}">
                        <div class="input-group-append">
                            <button class="increment-qty btn btn-black rounded-0"
                                data-item_id="{{ gym_class.id }}" id="increment-qty_{{ gym_class.id }}">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-12">
                <input type="submit" class="btn btn-primary" value="Add to Cart">
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </div>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
</main>
{% endblock %}