{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="page-banner">
        <div class="bg-overlay" style="background-image: url('imgs/bg-page2.webp');">
        </div>
        <div class="overlay-main opacity-06"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="banner-title">Class Timetable</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">
                                    <i class="icon-home icons"></i>Home</a></li>
                            <li class="breadcrumb-item text-white" aria-current="page">Class Timetable</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="page-title text-center">
        <div class="section-title-box">
            <span class="section-sub-title">Timetable</span>
            <h2 class="section-title">FIND THE CLASS THAT SUITS YOU</h2>
            <p class="section-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                the readable content of a page when looking at its layout.
            </p>
        </div>
    </section>

    <section class="class-timetable">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <table class="navigation-shortcode-table  navigation-theme-mode" style=""
                        data-hide_empty_row="1">
                        <thead>
                            <tr class="navigation-shortcode-row">
                                <th data-index="0" data-column-id=""></th>
                                <th data-index="1" data-column-id="56">Monday</th>
                                <th data-index="2" data-column-id="57">Tuesday</th>
                                <th data-index="3" data-column-id="58">Wednesday</th>
                                <th data-index="4" data-column-id="59">Thursday</th>
                                <th data-index="5" data-column-id="60">Friday</th>
                                <th data-index="6" data-column-id="61">Saturday</th>
                                <th data-index="7" data-column-id="62">Sunday</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in timetable_entries %}
                            <tr>
                                <td>9:00 am</td>
                                <td colspan="1" data-row_height="45" rowspan="1">
                                    {% if entry.time_slot  == '9:00 am' and entry.day == 'Monday'%}
                                        <div class="navigation-inner-event-content">
                                            <a title="OPEN GYM"
                                                href="{% url 'gym_class' entry.gym_class.id %}"
                                                class="event-title">{{ entry.gym_class.name }}</a>
                                            <p class="event-subtitle pt-text-dark">{{ entry.gym_class.duration }} mins</p>
                                        </div>
                                        {% endif %}
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="57" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="58" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event "
                                    data-column-id="59" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="66" data-start="9" data-start-item="9" data-end="10"
                                        class="navigation-event-container id-10 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="CARDIO"
                                                href="http://gymster.peacefulqode.com/timetable/event/cardio-gym/"
                                                class="event-title">CARDIO</a>
                                            <p class="event-subtitle pt-text-dark">Cardio Excesices</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="60" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="61" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="62" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="3000" data-start="9" data-start-item="9" data-end="10"
                                        class="navigation-event-container id-17 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="KRUNCH &amp; KORE"
                                                href="http://gymster.peacefulqode.com/timetable/event/krunch-kore/"
                                                class="event-title">KRUNCH &amp; KORE</a>
                                            <p class="event-subtitle  pt-text-dark">KRUNCH &amp; KORE</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="navigation-shortcode-row-10" data-index="10">
                                <td class="navigation-shortcode-hours">10:00 am</td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="56" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="57" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="58" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="3000" data-start="10" data-start-item="10" data-end="11"
                                        class="navigation-event-container id-27 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="KRUNCH &amp; KORE"
                                                href="http://gymster.peacefulqode.com/timetable/event/krunch-kore/"
                                                class="event-title ">KRUNCH &amp; KORE</a>
                                            <p class="event-subtitle  pt-text-dark">KRUNCH &amp; KORE</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="59" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="60" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="64" data-start="10" data-start-item="10" data-end="11"
                                        class="navigation-event-container id-4 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="CROSSFIT"
                                                href="http://gymster.peacefulqode.com/timetable/event/buff-workout/"
                                                class="event-title ">CROSSFIT</a>
                                            <p class="event-subtitle  pt-text-dark">CROSSFIT STRECH</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="61" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="62" colspan="1" data-row_height="45">
                                </td>
                            </tr>
                            <tr class="navigation-shortcode-row-12" data-index="12">
                                <td class="navigation-shortcode-hours">12:00 pm</td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="56" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="57" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="65" data-start="12" data-start-item="12" data-end="13"
                                        class="navigation-event-container id-30 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="TOTAL BODY"
                                                href="http://gymster.peacefulqode.com/timetable/event/pilates-mat/"
                                                class="event-title ">TOTAL BODY</a>
                                            <p class="event-subtitle  pt-text-dark">Workout</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="58" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="59" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="60" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="61" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="25" data-start="12" data-start-item="12" data-end="13"
                                        class="navigation-event-container id-18 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="YOGA"
                                                href="http://gymster.peacefulqode.com/timetable/event/anasura-yoga/"
                                                class="event-title ">YOGA</a>
                                            <p class="event-subtitle  pt-text-dark">Yoga Session</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="62" colspan="1" data-row_height="45">
                                </td>
                            </tr>
                            <tr class="navigation-shortcode-row-13" data-index="13">
                                <td class="navigation-shortcode-hours">1:00 pm</td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="56" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="65" data-start="13" data-start-item="13" data-end="14"
                                        class="navigation-event-container id-29 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="TOTAL BODY"
                                                href="http://gymster.peacefulqode.com/timetable/event/pilates-mat/"
                                                class="event-title ">TOTAL BODY</a>
                                            <p class="event-subtitle  pt-text-dark">Workout</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="57" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="58" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="3000" data-start="13" data-start-item="13" data-end="14"
                                        class="navigation-event-container id-24 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="KRUNCH &amp; KORE"
                                                href="http://gymster.peacefulqode.com/timetable/event/krunch-kore/"
                                                class="event-title">KRUNCH &amp; KORE</a>
                                            <p class="event-subtitle  pt-text-dark">KRUNCH &amp; KORE</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="59" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="2774" data-start="13" data-start-item="13" data-end="14"
                                        class="navigation-event-container id-20 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="OPEN YOGA"
                                                href="http://gymster.peacefulqode.com/timetable/event/open-gym/"
                                                class="event-title ">OPEN GYM</a>
                                            <p class="event-subtitle  pt-text-dark">OPEN YOGA</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="60" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="61" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="62" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="63" data-start="13" data-start-item="13" data-end="14"
                                        class="navigation-event-container id-2 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="GYM"
                                                href="http://gymster.peacefulqode.com/timetable/event/indoor-cycling/"
                                                class="event-title">YOGA</a>
                                            <p class="event-subtitle  pt-text-dark">Mass Gain</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="navigation-shortcode-row-14" data-index="14">
                                <td class="navigation-shortcode-hours">2:00 pm</td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="56" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="57" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="58" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event pt-bg-primary"
                                    data-column-id="59" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="64" data-start="14" data-start-item="14" data-end="15"
                                        class="navigation-event-container id-12 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="CROSSFIT"
                                                href="http://gymster.peacefulqode.com/timetable/event/buff-workout/"
                                                class="event-title event-title1">CROSSFIT</a>
                                            <p class="event-subtitle">CROSSFIT STRECH</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="60" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="61" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="3000" data-start="14" data-start-item="14" data-end="15"
                                        class="navigation-event-container id-26 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="KRUNCH &amp; KORE"
                                                href="http://gymster.peacefulqode.com/timetable/event/krunch-kore/"
                                                class="event-title">KRUNCH &amp; KORE</a>
                                            <p class="event-subtitle  pt-text-dark">KRUNCH &amp; KORE</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="62" colspan="1" data-row_height="45">
                                </td>
                            </tr>
                            <tr class="navigation-shortcode-row-15" data-index="15">
                                <td class="navigation-shortcode-hours">3:00 pm</td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="56" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="3000" data-start="15" data-start-item="15" data-end="16"
                                        class="navigation-event-container id-16 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="KRUNCH &amp; KORE"
                                                href="http://gymster.peacefulqode.com/timetable/event/krunch-kore/"
                                                class="event-title">KRUNCH &amp; KORE</a>
                                            <p class="event-subtitle  pt-text-dark">KRUNCH &amp; KORE</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="57" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="64" data-start="15" data-start-item="15" data-end="16"
                                        class="navigation-event-container id-15 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="CROSSFIT"
                                                href="http://gymster.peacefulqode.com/timetable/event/buff-workout/"
                                                class="event-title">CROSSFIT</a>
                                            <p class="event-subtitle  pt-text-dark">CROSSFIT STRECH</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="58" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="59" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="60" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="61" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="62" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="63" data-start="15" data-start-item="15" data-end="16"
                                        class="navigation-event-container id-3 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="GYM"
                                                href="http://gymster.peacefulqode.com/timetable/event/indoor-cycling/"
                                                class="event-title ">GYM</a>
                                            <p class="event-subtitle  pt-text-dark">Mass Gain</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="navigation-shortcode-row-16" data-index="16">
                                <td class="navigation-shortcode-hours">4:00 pm</td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="56" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="57" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="58" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="65" data-start="16" data-start-item="16" data-end="17"
                                        class="navigation-event-container id-28 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="TOTAL BODY"
                                                href="http://gymster.peacefulqode.com/timetable/event/pilates-mat/"
                                                class="event-title">TOTAL BODY</a>
                                            <p class="event-subtitle  pt-text-dark">Workout</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="59" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="60" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="61" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="65" data-start="16" data-start-item="16" data-end="17"
                                        class="navigation-event-container id-21 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="TOTAL BODY"
                                                href="http://gymster.peacefulqode.com/timetable/event/pilates-mat/"
                                                class="event-title ">TOTAL BODY</a>
                                            <p class="event-subtitle  pt-text-dark">Workout</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="62" colspan="1" data-row_height="45">
                                </td>
                            </tr>
                            <tr class="navigation-shortcode-row-17" data-index="17">
                                <td class="navigation-shortcode-hours">5:00 pm</td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="56" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="57" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="65" data-start="17" data-start-item="17" data-end="18"
                                        class="navigation-event-container id-31 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="TOTAL BODY"
                                                href="http://gymster.peacefulqode.com/timetable/event/pilates-mat/"
                                                class="event-title">TOTAL BODY</a>
                                            <p class="event-subtitle  pt-text-dark">Workout</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="58" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="59" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="25" data-start="17" data-start-item="17" data-end="18"
                                        class="navigation-event-container id-13 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="YOGA"
                                                href="http://gymster.peacefulqode.com/timetable/event/anasura-yoga/"
                                                class="event-title">YOGA</a>
                                            <p class="event-subtitle  pt-text-dark">Yoga Session</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="60" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="61" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="62" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="66" data-start="17" data-start-item="17" data-end="18"
                                        class="navigation-event-container id-5 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="CARDIO"
                                                href="http://gymster.peacefulqode.com/timetable/event/cardio-gym/"
                                                class="event-title ">CARDIO</a>
                                            <p class="event-subtitle  pt-text-dark">Cardio Excesices</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="navigation-shortcode-row-18" data-index="18">
                                <td class="navigation-shortcode-hours">6:00 pm</td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="56" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="25" data-start="18" data-start-item="18" data-end="19"
                                        class="navigation-event-container id-23 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="YOGA"
                                                href="http://gymster.peacefulqode.com/timetable/event/anasura-yoga/"
                                                class="event-title ">YOGA</a>
                                            <p class="event-subtitle  pt-text-dark">Yoga Session</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="57" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="58" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="25" data-start="18" data-start-item="18" data-end="19"
                                        class="navigation-event-container id-22 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="YOGA"
                                                href="http://gymster.peacefulqode.com/timetable/event/anasura-yoga/"
                                                class="event-title ">YOGA</a>
                                            <p class="event-subtitle  pt-text-dark">Yoga Session</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="59" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="60" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="66" data-start="18" data-start-item="18" data-end="19"
                                        class="navigation-event-container id-6 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="CARDIO"
                                                href="http://gymster.peacefulqode.com/timetable/event/cardio-gym/"
                                                class="event-title ">CARDIO</a>
                                            <p class="event-subtitle  pt-text-dark">Cardio Excesices</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="61" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="62" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="2774" data-start="18" data-start-item="18" data-end="19"
                                        class="navigation-event-container id-25 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="OPEN GYM"
                                                href="http://gymster.peacefulqode.com/timetable/event/open-gym/"
                                                class="event-title">OPEN GYM</a>
                                            <p class="event-subtitle  pt-text-dark">OPEN GYM</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="navigation-shortcode-row-19" data-index="19">
                                <td class="navigation-shortcode-hours">7:00 pm</td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="56" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="57" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event navigation-event-vertical-default event"
                                    data-column-id="58" colspan="1" data-row_height="45" rowspan="1">
                                    <div data-event-id="63" data-start="19" data-start-item="19" data-end="20"
                                        class="navigation-event-container id-14 navigation-colorized"
                                        data-type="event" data-bg_hover_color="rgb(227, 28, 37)"
                                        data-bg_color="rgb(255, 255, 255)" data-hover_color="rgb(227, 28, 37)"
                                        data-color="rgb(17, 17, 17)" data-min-height="">
                                        <div class="navigation-inner-event-content">
                                            <a title="GYM"
                                                href="http://gymster.peacefulqode.com/timetable/event/indoor-cycling/"
                                                class="event-title">GYM</a>
                                            <p class="event-subtitle  pt-text-dark">Mass Gain</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="59" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="60" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="61" colspan="1" data-row_height="45">
                                </td>
                                <td class="navigation-shortcode-event  navigation-event-vertical-default"
                                    data-column-id="62" colspan="1" data-row_height="45">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>

    <section class="class-faq">
        <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Accordion Item #1
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Accordion Item #2
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Accordion Item #3
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="membership-call">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>If You Are Interested<br>
                        We Help You Stay Healty</h3>
                </div>
                <div class="col-md-6 text-end">
                    <a href="contact-us.html" class="icon-btn"><i class="fas fa-arrow-circle-right"></i> See
                        Membership</a>
                </div>
            </div>
        </div>
    </section>

    <section class="newsletter">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <h4 class="sub-title">Get info</h4>
                    <p>Received Special Promotion And Insider Information
                        About Upcoming Products</p>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter your Email!" id="newsletter"
                            name="newsletter" type="email">
                        <input class="form-control btn btn-primary" value="Subscribe" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </section>    
</main>
{% endblock %}